@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes rain {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }

    20% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.6;
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}


.animate-rain {
    animation: rain 1.5s linear infinite;
}

@keyframes cloud1 {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(50px);
    }
}

@keyframes cloud2 {
    0% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(-50px);
    }
}

.animate-cloud1 {
    animation: cloud1 20s ease-in-out infinite alternate;
}

.animate-cloud2 {
    animation: cloud2 25s ease-in-out infinite alternate;
}
/* ================= LIGHTNING ================= */

@keyframes lightning {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 0.9;
    }

    6% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.animate-lightning {
    animation: lightning 6s infinite;
}
